.home-container {
  position: relative;
  left: 120%;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.text-input-field {
  padding: 14px 6px;
  border-radius: 7px;
  font-size: 24px;
}

.text-input-field:focus {
  outline: none;
}

.enter-room-button {
  margin-top: 20px;
  padding: 14px 6px;
  font-size: 28px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}
h2 {

  text-align: center;
}
h2 {

  text-align: center;
}
h2:before,
h2:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}